body{
	background-color: #f3f3f3;
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.input-group{
	background-color: tomato;
	margin: 1rem 0;
	position: relative;
}
form{
	background-color: white;
	padding: 1rem 1.2rem;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}
form h2{
	text-align: center;
	font-weight: 400;
	user-select: none;

}
form input{
	border:none;
	margin: 8px auto:;
	border-bottom: 1px solid dodgerblue;
	outline: none;
	padding: 6px 4px;
}
form label{
	position: absolute;
	left: 10px;
	top: 4px;
	font-weight: 400;
	font-size: 15px;
	pointer-events: none;
	color: gray;
}
input:focus + label, input:valid + label{
	top: -14px;
	left: 10px;
	font-size: 13px;

}