body{
	font-family: Arial, sans-serif;

}
.tuan{
	display: flex;
	align-items: center;

}
.stt{
	font-size: 18px;
	padding: 0px 8px;

}
.tuan .noidung{
	font-size: 14px;
	flex-grow: 1;
}
.tuan .tenbaihat{
	margin-bottom: 8px;
}
.tuan .tencasi{
	font-size: 13px;
	color: #999;
}
.tuan .luotxem{
	font-size: 13px;
	color:#999;

}
.album{
	width: 128px;
	height: 128px;
	background-color: #999;
	background-image:url("https://loremflickr.com/320/240/dog");
	background-size: cover;
	font-size: 40px;
}


.album .overlay{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

}
.album:hover .overlay{
	opacity: 1;
}